trigger: none

pool: Latest-Pool

stages:
  - stage: FirstStage
    displayName: Terraform Init and Validate
    jobs:
      - job: FirstJob
        displayName: Terraform Init and Validate Job
        steps:
         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'init'
             workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'
             backendServiceArm: 'rumuitserviceconnection'
             backendAzureRmStorageAccountName: 'test42022'
             backendAzureRmContainerName: 'bawla-container'
             backendAzureRmKey: 'terraform.tfstate'
          

