trigger: none

pool: Latest-Pool

stages:
  - stage: FirstStage
    displayName: Terraform Init and Validate
    jobs:
      - job: FirstJob
        displayName: Terraform Init and Validate Job
        steps:
         - task: TerraformTask@5
           displayName: Init and Validate Task
           inputs:
             provider: 'azurerm'
             command: 'init'
             workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'
             backendServiceArm: 'rumuitserviceconnection'
             backendAzureRmStorageAccountName: 'test42022'
             backendAzureRmContainerName: 'bawla-container'
             backendAzureRmKey: 'terraform.tfstate'

         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'validate'
          

  - stage: SecondStage
    displayName: Terraform init and plan Stage
    jobs:
      - job: SecondJob
        displayName: Terraform init and plan Job
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'rumuitserviceconnection'
              backendAzureRmStorageAccountName: 'test42022'
              backendAzureRmContainerName: 'bawla-container'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/parent_modules'
              environmentServiceNameAzureRM: 'rumuitserviceconnection'